@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */



:root {
    --background: 255 255 255;
    --border: 209 213 219;
    --primary: 255 255 255;
    --secondary: 51 65 85;
    --btnone:  59 130 246;
    --btntwo: 239 68 68; 
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: 0 0 0;
        --border: 71, 71, 72;
        --primary:  255 255 255;
        --secondary: 255 255 255;
        --btnone:  59 130 246;
        --btntwo: 239 68 68; 
    }
}


body{
    font-family: 'Poppins', sans-serif;
  
}

::-webkit-scrollbar { 
 width: 12px;
} 
